*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
div.search-box{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box input{
    width: 75%;
    padding: .7rem;
    border-radius: 1rem;
    border: 2px solid teal;
    font-size: 1rem;
}
.search-box input:focus{
    outline: 0;
}
.search-box button{
    background-color: transparent;
    width: 90px;
    padding: .7rem;
    margin: 0 .2rem;
    border: 2px solid teal;
    border-radius: .5rem;
    transition: all .3s ease;
}
.search-box button:hover{
    border-color: rgba(0, 128, 128, 0.5);
}

div.content{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content table{
    width: 80%;
    text-align: center;
    border-radius: 5px;
    border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
}
tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding: 1rem 0;
  background-color: teal;
  color: white;
}