<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>شماره هایی که به کارت میاد</title>
</head>
<body>
    <div id="modal-overlay-error">
        <div class="modal-error-box">
            <button id="modal-error-close-btn">x</button>
            <span id="error-modal-text"></span>
        </div>
    </div>

    <div id="modal-overlay" class="show">
        <div class="modal-add-new-data-box">
            <button id="close-btn">x</button>
            <h3>اضافه کردن اطلاعات</h3>
            <input type="text" name="business-name" id="add-business-name" placeholder="نام کسب و کار">
            <span id="business-name-error" class="error">این فیلد نمیتواند خالی باشد</span>

            <input type="text" name="category" id="add-category" placeholder="دسته‌بندی">
            <span id="category-error" class="error">این فیلد نمیتواند خالی باشد</span>

            <input type="text" name="phone" id="add-phone" placeholder="شماره تماس">
            <span id="phone-error" class="error">این فیلد نمیتواند خالی باشد</span>
            <span id="phone-error-validation" class="error">شماره تماس معتبر نیست</span>

            <button type="button" id="add-new-data-btn">اضافه کردن</button>
        </div>

        <div class="modal-update-box">
            <button id="update-close-btn">x</button>
            <h3>ویرایش اطلاعات</h3>
            <input type="text" name="business-name" id="update-business-name" placeholder="نام کسب و کار">
            <span id="update-business-name-error" class="error">این فیلد نمیتواند خالی باشد</span>

            <input type="text" name="category" id="update-category" placeholder="دسته‌بندی">
            <span id="update-category-error" class="error">این فیلد نمیتواند خالی باشد</span>

            <input type="text" name="phone" id="update-phone" placeholder="شماره تماس">
            <span id="update-phone-error" class="error">این فیلد نمیتواند خالی باشد</span>
            <span id="update-phone-error-validation" class="error">شماره تماس معتبر نیست</span>

            <button type="button" id="update-btn">اضافه کردن</button>
        </div>
    </div>

    <div class="search-box">
        <input type="text" name="searchbar" id="search-bar" placeholder="جستجو بر اساس نام یا دسته‌بندی">
        <button type="button" id="new-data-btn">اضافه کردن</button>
    </div>

    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>نام کسب و کار</th>
                    <th>دسته‌بندی</th>
                    <th>شماره</th>
                </tr>
            </thead>

            <tbody id="contacts-table-body">
                
            </tbody>
        </table>
    </div>

    <div id="action-menu">
        <button type="button" class="delete-btn">حذف</button>
        <button type="button" class="edit-btn">ویرایش</button>
    </div>

    <script src="../static/modal.js"></script>
    <script src="../static/app.js"></script>
</body>
</html>