<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>شماره هایی که به کارت میاد</title>
</head>
<body>
    <div id="modal-overlay">
        <div class="modal-add-new-data-box">
            <button id="close-btn">x</button>
            <h3>اضافه کردن اطلاعات</h3>
            <input type="text" name="business-name" id="add-business-name" placeholder="نام کسب و کار">
            <input type="text" name="category" id="add-category" placeholder="دسته‌بندی">
            <input type="text" name="category" id="add-category" placeholder="شماره تماس">
            <button type="button" id="add-new-data-btn">اضافه کردن</button>
        </div>
    </div>

    <div class="search-box">
        <input type="text" name="searchbar" id="search-bar" placeholder="جستجو بر اساس نام یا دسته‌بندی">
        <button type="button" id="new-data-btn">اضافه کردن</button>
    </div>

    <div class="content">
        <table>
            <tr>
                <th>نام کسب و کار</th>
                <th>دسته‌بندی</th>
                <th>شماره</th>
            </tr>
        </table>
    </div>

    <script src="../static/modal.js"></script>
</body>
</html>